<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Read</title>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tbody>
    <td th:text="${user.getId()}"></td>
    <td th:text="${user.getName()}"></td>
    <td th:text="${user.getSurname()}"></td>
    </tbody>
</table>

<br>
<form th:action="@{/users/{id}/delete(id=${user.getId()})}">
    <input type="submit" value="delete"/>
</form>
<br>
<form th:action="@{/users}">
    <input type="submit" value="return">
</form>

</body>
</html>